.header__container{
    max-width: 1240px;
    // max-width: 100%;
    margin: 0 auto;
    box-sizing: content-box;
    padding: 0 16px;
}
.header__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__collection{
    display: flex;
    gap: 40px;
}



@media (max-width:600px) {
    .header__collection{
        display: none;
    }
    
}